.contactMainContent {
  padding: 100px 0;
}

.contactFormIcon {
  color: #cf2e2e;
  font-size: 25px;
  margin-right: 15px;
}

.formContent div textarea{
  height: 100%;
  resize: none;
}

#head-image-ContactUs {
  background-image: url(../assets/0005.jpg);
}
