.header{
  display: flex;
  justify-content: center;
  background-color: #111;
  margin-bottom: 1vh;
  box-shadow: 0 10px 10px rgba(0,0,0);
}

#carouselExampleFade {
  clip-path: polygon(0 0, 100% 0, 100% 90%, 30% 100%, 0 90%);
}

.itemContent, .itemContent.active {
  position: relative;
  display: flex;
  align-items: center;
  height: 80vh;
  background-color: #000;
  color: #fff;
}

.headContent {
  z-index: 1;
}

.headContent p {
  width: 50%;
  margin-top: 20px;
}

.headContent h1 {
  font-size: 100px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 80px;
  text-shadow: 5px 5px 5px rgba(100, 100, 100, 0.4);
}

#carousel-item-01 {
  background-image: url(../assets/0005.jpg);
}

#carousel-item-02 {
  background-image: url(../assets/0009.jpg);
}

#carousel-item-03 {
  background-image: url(../assets/0001.jpg);
}

.overlay-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
  z-index: 0;
}


/* ===========================================================  */


.headerContent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  background-color: #cf2e2e;
  box-shadow: 0 2px 2px #cf2e2e;
  border-bottom: 1px solid #cf2e2e;
}

.headerContent p {
  font-size: 80px;
  font-weight: bold;
}

.headerContent p, .headerContent h5 {
  color: #fff;
  text-shadow: 5px 5px 5px rgb(0, 0, 0);
  z-index: 1;
}

.overlayImageHeader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.6;
  z-index: 0;
}

