.active
{
  color: brown;
  /* background-color: aqua; */
  font-weight: bold;
}


#navbar{
  background: #212D3A;
  box-shadow: 0 2px 2px #cf2e2e;
  width: 100%;
  padding: 0 5%;
  border-bottom: 1px solid #cf2e2e;
  /* box-shadow: 0 2px 2px #cf2e2e; */
}

.navbar-brand
{
  display: flex;
  align-items: center;
}

.navLinkBtns{
  text-decoration: none;
  font-weight: bold;
}

.navItemBtns {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
  /* padding: 10px; */
  cursor: pointer;
  border-radius: 15px;
  transition: 0.4s;
}

.navLinkBtns {
  color: #fff;
  padding: 10px 15px;
  font-size: 13px;
  text-transform: uppercase;
  /* letter-spacing: .05em; */
  font-weight: 600;
  display: block;
  transition: 0.5s;
}

.navLinkBtns.active
{
  color: #cf2e2e;
  font-weight: bold;
  border-bottom: 1px solid #cf2e2e;
  box-shadow: 0 2px 2px #cf2e2e;
  transition: 1s;
}

.navLinkBtns:hover{
  color: #cf2e2e;
  transition: 0.5s;
}

.imgStation{
  width: 100%;
}

.logoImg {
  border-radius: 50%;
}
