.ourClientsHomeMainContent {
  position: relative;
  display: flex;
  align-items: flex-end;
  /* height: 80vh; */
  background-color: #eee;
  padding: 100px 0;
}

.ourClientsHomeMainImage {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* background-image: url(../assets/0007.jpg); */
  /* clip-path: polygon(0 0, 100% 0, 100% 75%, 0 75%); */
  /* background-position: center; */
  /* background-size: cover; */
  /* background-attachment: fixed; */
  opacity: 0.8;
  z-index: -1;
}

#ourClientsHomeContent1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}

#ourClientsHomeContent1 h1 {
  font-size: 60px;
  font-weight: bold;
  color: #000;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.card {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.ourClientsHomeContent{
  position: relative;
  height: 350px;
  /* width: 400px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 30px 50px;
  overflow: hidden;
}

.iconCardContent{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  /* background-color: #cf2e2e; */
  border-radius: 50%;
  cursor: pointer;
}

.ourClientsHomeIcon{
  font-size: 50px;
  color: #cf2e2e;
}

.ourClientsHomeMainContent h6, .ourClientsHomeMainContent h4{
  color: #fff;
  text-shadow: 5px 5px 5px rgba(0, 0, 0);
  cursor: none;
  z-index: 0;
}

#ourClientsHomeImg-01 {
  background-image: url(../assets/0008.jpg);
}

#ourClientsHomeImg-02 {
  background-image: url(../assets/0017.jpg);
}

#ourClientsHomeImg-03 {
  background-image: url(../assets/0013.jpg);
}

#ourClientsHomeImg-04 {
  background-image: url(../assets/0004.jpg);
}

#ourClientsHomeImg-05 {
  background-image: url(../assets/0011.jpg);
}

#ourClientsHomeImg-06 {
  background-image: url(../assets/0010.jpg);
}

.ourClientsHome-images {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-size: cover;
  opacity: 1;
  z-index: 0;
  transition: 0.5s;
  cursor: pointer;
}

.ourClientsHome-images:hover {
  transform: scale(120%);
  transition: 0.5s;
}
