.peopleMainContent {
  position: relative;
  display: flex;
  align-items: flex-end;
  /* height: 80vh; */
  background-color: #eee;
  padding: 100px 0;
}

.peopleMainImage {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.8;
  z-index: -1;
}

.peopleContent1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.peopleContent1 h1 {
  font-size: 80px;
  font-weight: bold;
  color: #000;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.card {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.peopleContent{
  position: relative;
  height: 350px;
  /* width: 400px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 30px 50px;
  overflow: hidden;
}

.iconCardContent{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  /* background-color: #cf2e2e; */
  border-radius: 50%;
  cursor: pointer;
}

.peopleIcon{
  font-size: 50px;
  color: #cf2e2e;
}

.peopleContentInfo h6, .peopleContentInfo h4{
  color: #000;
  z-index: 0;
}

.people-images {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-size: cover;
  opacity: 1;
  z-index: 0;
  transition: 0.5s;
  cursor: pointer;
}

.people-images:hover {
  transform: scale(110%);
  transition: 0.5s;
}

.ourTeamIconInfo {
  height: 35px;
  width: 35px;
  color: #cf2e2e;
  padding: 5px 5px;
  margin: 0 10px;
  border: 2px solid #cf2e2e;
  cursor: pointer;
  transition: 0.5s;
}

.ourTeamIconInfo:hover {
  color: #fff;
  background-color: #cf2e2e;

}
